/*------ general -------*/
@import url('https://fonts.googleapis.com/css?family=Merriweather');
/*------ header --------*/
header {
    position: fixed;
    width:100%;
}

.title1{
    font-family: "Merriweather", sans-serif;
    height:60px;
    font-size:45px;
    background-color: blue;
    color: white;
}
.boxes{
    height: 60px;
    background-color: orange;
    font-family: "Merriweather", sans-serif;
}
.boxes a i {
    color:black;
    font-size: 23px;
    padding-top: 5px;
}

.active-tab{
    background-color: white;
}

.flex-container{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    Justify-content:space-between;
}
.list-inline{
    text-align: center;
}

/*------- body ------------*/
.gap1{
    height: 60px;
    z-index: -1;
}
.gap2{
    height: 60px;
    z-index: -1;
}

.responsive{
       width: 100%;
    height: auto;
    max-height: 100%;
    max-width:100%;

}
/*------- home ------------*/
.intro{
    font-family: "Merriweather", sans-serif;
    font-size: 12px;
}
/*------- gallery ---------*/
.gallery{
    background-color:#ffffe6;
    padding-top:5px;
    padding-left:0;
    padding-right:0;
    padding-bottom:5px;
}
ul{ list-style-type: none; }

.hovergal{
    height:80px;
    width:80px;
    transition: width 1s, height 1s;
    transition-timing-function:ease-in-out;
    padding:5px;
    
}
.hovergal:hover{
    height: 100px;
    width:100px;
}
/*-------- contact --------*/
.formbox{
    width:80%;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

/*------- footer ----------*/
footer{
    position:fixed;
    width:100%;
    left: 0;
    bottom:0;
    padding:0;
    margin:0;
    
}
.about{
    height: 60px;
    background-color: orange;
    font-family: "Merriweather", sans-serif;
    font-size: 12px;
    font-weight: 100;
}
.multimedia{
    height:60px;
    float: right;
    background-color: blue;
    color:white;    
    font-size: 23px
}
