/*------------------------------------ general -------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700');

h1,h2,h3,h4,h5{
font-family: "Merriweather", sans-serif;   
}
/*------------------------------------ header --------------------------------*/
header {
    position: fixed;
    width:100%;
    z-index: +1;
}

.title1{
    font-family: "Merriweather", sans-serif;
    font-weight: 200;
    height:75px;
    font-size:3em;
    background-color: #5f87cc;
    color: #fff9ef;
    padding-top: 6px;
    
}
.boxes{
    height: 75px;
    background-color: #e8b33a;
    
}
.boxes a i {
    color:#474644;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    transition-duration: .5s;
    transition-timing-function: ease-in;
}

.boxes a i:hover{
    color: #fff9ef;
   }

.active-tab{
    background-color: #fff9ef;
}
.active-tab a i:hover{
    color: #5f87cc;
}

.flex-container{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    Justify-content:space-between;
}
.list-inline{
    margin:0;
    text-align: center;
    transition-duration: .5s;
    transition-timing-function: ease-in;
}

/*---------------------------------- body ------------------------------------*/
body    {overflow-y:scroll;
    background-color: #fff9ef;
}

.gap1{
    height: 75px;
    z-index: -1;
}
.gap2{
    height: 75px;
    z-index: -1;
}

.responsive{
       width: 100%;
    height: auto;
    max-height: 100%;
    max-width:100%;

}
/*---------------------------------- home ------------------------------------*/
.intro{
    font-family: "Merriweather", sans-serif;
    font-size: 12px;
}
/*---------------------------------- music -----------------------------------*/
.musicbox{
padding :1%;
z-index: -2;
color: #e8b33a;
text-transform: uppercase;
font-family:"Merriweather", sans-serif;
font-size: 1.2em;
font-weight: 400;
text-align: justify;
}

.player{
    padding :2%;
    background-color: #e8b33a;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    border-radius: 18px 18px 18px 18px;
}

.player:hover{
    background-color: #5f87cc;
}

.vidbox{
    width:50%;
    height: 50%;
margin-bottom: 150px;
margin-left:25%;
margin-top: 1%;
}

@media screen and (max-width: 900px) {
.vidbox{
    width:80%;
    height: 80%;
margin-bottom: 150px;
margin-left:10.5%;
margin-top: 1%;
}}

/*----------------------------------- live -----------------------------------*/
.livehead{
    width:100%;
    text-align: center;
    padding-top:1%;
}
.live-date{
max-width:90%;
padding-left: 5%;

}
.date{
    background-color:#e8b33a;
    transition-duration:.5s;
    border-radius: 12px 12px 12px 12px;
}
.date:hover{
    background-color:#5f87cc;
}
/*----------------------------------- gallery --------------------------------*/
.gallery{
    background-color:#ffffe6;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:150px;
}
ul{ list-style-type: none; }

.hovergal{
    height:200px;
    width:200px;
    transition: width 1s, height 1s;
    transition-timing-function:ease-in-out;
    padding:5px;
}

@media screen and (max-width: 575px) {
    .hovergal{
    height:100px;
    width:100px;
    transition: width 1s, height 1s;
    transition-timing-function:ease-in-out;
    padding:5px;
}}
.hovergal:hover{
    height:250px;
    width:250px;
}
/*----------------------------------- contact --------------------------------*/
.formbox{
    width:100%;
    padding: 10%;
    padding-bottom:150px;
}
.comment{
    width: 100%;
}

/*----------------------------------- footer ---------------------------------*/
footer{
    position:fixed;
    width:100%;
    left: 0;
    bottom:0;
    padding:0;
    margin:0;
    
}
.about{
    height: 75px;
    background-color: #e8b33a;
    font-family: "Merriweather", sans-serif;
    font-size: 12px;
    font-weight: 100;
}
.social-media{
    height:75px;
    float: right;
    background-color: #5f87cc;
    color:#fff9ef;    
    font-size: 25px;
    padding-top:18px;
}
.social-media i{
    transition-duration: .5s;
    transition-timing-function: ease-in;
}

.social-media i:hover{
    color: #474644;
}